@{
    ViewBag.Title = "About US";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <div style="width:80%; margin: 0 auto; ">
            <p>
                Eat Cheap UNSW is the only application that UNSW student and staff can browse food places, places' menus, view places and menus reviews as well as placing orders online .
                Values we offer to the UNSW student and staff:
            </p>
            <dl>
                <dt>Values we offer to the UNSW student and staff:</dt>
                <dd>-  5% Discount when ordering online.</dd>
                <dd>-  Facilitate searching for a place or a meal.</dd>
                <dd>-  Save time by ordering online.</dd>
                <dd>- The user doesn't need to worry about payments (Payments are processed online by PayPal).</dd>
                <dt>Food Places and Businesses:</dt>
                <dd>- Take advantage of the internet and our marketing power.</dd>
                <dd>- Saving labour and customer service effort since they receive the orders online.</dd>
                <dd>- Expand their customer base.</dd>
            </dl>
        </div>
    </div>
</div>