@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    
</hgroup>
<div>
   
    <address>
        <i class="icon-envelope"><strong>Phone:</strong> 0406 464 857 </i><br />
        
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:Support@example.com">eatcheapunsw@hotmail.com</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:Marketing@example.com">eatcheapunsw@hotmail.com</a>
    </address>
</div>